.projects-section {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  padding-top: 20px;
  background: linear-gradient(to bottom, #402466 100%, rgba(79, 0, 128, 0) 0%);
  color: #fff;
  font-size: 18px;
}

.carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin: 40px auto;
}

.carousel-slide {
  width: 100%;
  text-align: center;
}

.carousel-slide img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.nav {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #7132CA;
}

.nav.left {
  left: 0;
}

.nav.right {
  right: 0;
}

.carousel-dots {
  margin-top: 15px;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 5px;
  display: inline-block;
  border-radius: 50%;
  background-color: #bbb;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: #7132CA;
}
